R/.DS_Store
.DS_Store
inst/.DS_Store

html/*
cache/*
figure/*
vignettes/cache/*
vignettes/figure/*
vignettes/*.html
vignettes/*.md

*.Rapp.history
tests/.Rapp.history
inst/tests/.Rapp.history

.Rproj.user

.Rbuildignore

.Rhistory

R/.Rapp.history

R/.Rhistory

*.Rproj

*.Rdata

*.Rout